* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  height: 3em;
  width: 190px;
  background-color: white;
  border: none;
  padding: 7px;
  border-radius: 16px;
  cursor: pointer;
}

.betButton {
  height: 3em;
  width: 55px;
  background-color: white;
  border: none;
  padding: 7px;
  border-radius: 16px;
  cursor: pointer;
}

.betButton:hover {
  height: 3.2em;
  width: 60px;
}

.GamePageContainer {
  display: flex;
}

.asideContainer {
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: 15%;
  background-color: black;
  color: #e5b719;
  text-align: center;
  padding: 15px;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
}

.BoardContainer {
  display: flex;
  gap: 1em;
  padding: 10px;
}
