#deckMap {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

.cardMap {
  margin: 2%;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-image: url("../assets/images/gabriele-proietti-mattia-xpr6LXUEM70-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
