.cardclass {
  width: 190px;
  height: 250px;
  border: 1px solid black;
}

.violet {
  background-color: #a60a71;
}

.yellow {
  background-color: #b7bb00;
}

.green {
  background-color: #068d03;
}

.black {
  background-color: black;
}

.faceDown {
  background-color: #a46030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faceDown > img {
  width: 60px;
}

.faceName {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 4vh;
  font-weight: bold;
  text-align: center;
}

.colorName {
  color: black;
  background-color: white;
  width: 27px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
}
